tuple

In [ ]:
# ordered          : index eğerleri ile tutulur elemanları
# unchangecable    : değiştirilmez
# allow duplicate items 

# farklı data tiplerinden eleman barındırabilir

In [1]:
mytuple= ("apple", "banana", "cherry")

In [2]:
mytuple

('apple', 'banana', 'cherry')

In [3]:
mytuple1=("hello", 1, 2, True, [5,6])

In [5]:
mytuple1

('hello', 1, 2, True, [5, 6])

In [ ]:
# assignment

In [6]:
nums=1,2,3,4,5          # tuple atama bu şekildede olur
# nums=(1,2,3,4,5)

In [7]:
nums

(1, 2, 3, 4, 5)

In [8]:
type(nums)

tuple

In [36]:
myTuple = "hello", 1, 3, "merhaba"

In [37]:
myTuple

('hello', 1, 3, 'merhaba')

In [9]:
name1=("Jeff",)          # virgül bu data tipinin tuple olduğunu gösterir. olmasaydı string olurdu

In [10]:
name1

('Jeff',)

In [11]:
type(name1)

tuple

In [12]:
name2=("Jeff")

In [13]:
name2

'Jeff'

In [14]:
type(name2)

str

In [38]:
names="Ali", "Veli", "Mehmet", "Hasan"

In [41]:
isim1, isim2, isim3, isim4 = names

In [42]:
isim1

'Ali'

In [43]:
isim3

'Mehmet'

In [15]:
# access

In [16]:
mytuple1=("hello", 1, 2, True, [5,6])

In [17]:
mytuple1[3]

True

In [18]:
mytuple1[-1]

[5, 6]

In [46]:
mytuple1[-1][0]=11       # herne kadar tuple lar değiştirilemez olsada değiştirilebilir yapıdaki 
                         # elemanlarının içinde değişiklik yapılabilir

In [49]:
mytuple1

('hello', 1, 2, True, [11, 6])

In [45]:
mytuple1[0][2]

'l'

In [ ]:
# slicing

In [19]:
mytuple1=("hello", 1, 2, True, [5,6])

In [20]:
mytuple1[:2]

('hello', 1)

In [21]:
mytuple1[2:]

(2, True, [5, 6])

In [ ]:
# update tuple values

# tuple lar değiştirilemez özelliktedirler. listeye dönüştürerek değişim yapılıp tekrar tuple a dönüştürülür

In [22]:
mytuple= ("apple", "banana", "cherry")

In [23]:
mylist=list(mytuple)

In [24]:
mylist

['apple', 'banana', 'cherry']

In [25]:
mylist[1]="kiwi"

In [26]:
mytuple=tuple(mylist)

In [27]:
mytuple

('apple', 'kiwi', 'cherry')

In [52]:
mytuple1=("hello", 1, 2, True, [5,6])   # herne kadar tuple lar değiştirilemez olsada değiştirilebilir yapıdaki 
                                        # elemanlarının içinde değişiklik yapılabilir

In [53]:
mytuple1[-1][1]=555

In [55]:
mytuple1

('hello', 1, 2, True, [5, 555])

In [57]:
mytuple1[-1].append("yeni bir değer")

In [58]:
mytuple1

('hello', 1, 2, True, [5, 555, 'yeni bir değer'])

In [ ]:
# concatanate

In [28]:
mytuple= ("apple", "banana", "cherry")
mytuple1=("hello", 1, 2, True, [5,6])

In [29]:
mytuple2 = mytuple + mytuple1

In [30]:
mytuple2

('apple', 'banana', 'cherry', 'hello', 1, 2, True, [5, 6])

In [ ]:
# index

# tuple da elemanlar index değerleri ile tutulur. index değerlerini öğrenebiliriz

In [31]:
mytuple= ("apple", "banana", "cherry")

In [32]:
mytuple.index("banana")

1

In [ ]:
# count

# tuple içeriisinde bir eleman kac adet var onu gösterir

In [33]:
mytuple=(1,2,3,1,3,4,1,3,5,6)

In [35]:
mytuple.count(1)

3

In [59]:
mytuple= ("apple", "banana", "cherry")

In [60]:
"apple" in mytuple

True