assignment= bir değişkene (variable) değer atama

In [1]:
x=5                  

# = ile atama yapılır. matematikteki eşitlik değildir. x variable na 5 değeri atanır.

In [2]:
print(x)

5

In [3]:
print(x*6)

30

In [4]:
y="hello"

# string variable lar "" içinde yazılır

In [5]:
print(y)

hello

print()

bir fonksiyondur. () varsa fonksiyon olduğunu gösterir. içine parametreler alır. sep= ile parametreler arasında olmasını
istediğmiz karakteri yazarız. default değeri boşluktur

In [6]:
print(x,y)

5 hello

In [7]:
print(x,y, sep="---")

5---hello

input()

bu fonksiyon ile kullanıcıdan alınan bir değer bir variable olarak atanır

In [8]:
Name=input("adınız nedir")

adınız nedirmustafa

In [9]:
print(Name)

mustafa

In [10]:
Age=input("kaç yaşındasınız")

kaç yaşındasınız45

In [11]:
Age

'45'

In [ ]:
# kullanıcıdan aldığımız yaş bilgisinin iki katını ekrana yazdıran bir program yazalım

In [12]:
UserAge=input("kaç yaşındasınız")

kaç yaşındasınız45

In [13]:
UserAge*2                             # kullanıcıdan alınan değer string bir değer olduğu için yanyana yazdı

'4545'

In [14]:
type(UserAge)                         # input() ile alınan değer str type dadır. matematiksel işlemler için float yada int dönüşümü yapılmalı

str

In [15]:
int(UserAge)*2

90

In [22]:
UserAge1=input("kaç yaşındasınız?")
int(UserAge1)*2

kaç yaşındasınız?49

98

In [ ]:
# kullanıcıdan alınan iki sayının ortalamasını bulma

In [1]:
sayi1=int(input(" sayi 1 giriniz:"))
sayi2=int(input(" sayi 2 giriniz:"))
ortalama=(sayi1+sayi2)/2
print("girilen iki sayının ortalaması:" + str(ortalama))
# print fonksiyonu içerisinde yazılan değişkenler aynı tipte olmalı

 sayi 1 giriniz:45
 sayi 2 giriniz:56
girilen iki sayının ortalaması:50.5

In [18]:
answer=0

for i in range(2):
    x=input("please enter a number: ")
    answer+=int(x)
print(answer/2)

please enter a number: 45
please enter a number: 65
55.0

In [2]:
x=float(input("sayı giriniz"))
y=float(input("sayı giriniz"))
sonuc=(x+y)/2
print(sonuc)

sayı giriniz65
sayı giriniz85
75.0

In [3]:
s1=int(input("sayı giriniz"))
s2=int(input("sayı giriniz"))
print((s1+s2)/2)

sayı giriniz45
sayı giriniz77
61.0

In [2]:
sayi1=int(input(" sayi 1 giriniz:"))
sayi2=int(input(" sayi 2 giriniz:"))
toplam=(sayi1+sayi2)
print("girilen iki sayının toplamı:" + str(toplam))

 sayi 1 giriniz:15
 sayi 2 giriniz:25
girilen iki sayının toplamı:40

In [20]:
"hello"*2                             # string type daki bir variable çarpma işlemi yapılırsa yanyana yazılır

'hellohello'

In [21]:
5*500

2500

In [ ]:
# python indentation   

# bir alt satırın üst satırla ilişkili olduğunu göstermek için bir tab içerde yazılması, 
# bir iki yada üç boşlukta bırakılabilir ama ideal olan 1 tab boşluktur

In [23]:
if 6<10:
    print("doğru")

doğru

In [24]:
if 6<10:
print("doğru")

IndentationError: expected an indented block (2817232718.py, line 2)

In [ ]:
# creating a comment

# acıklama bilgisi yazma. satır başına # yazılırsa açıklama satırı olarak algılar
# """   """ 3tane çift tırnak arasına yazılan ifadelerde açıklama satrı olarak algılanır

In [25]:
print("mustafa")        # öylesine denemek için yazdım

mustafa

In [ ]:
print("hello")
# print("test")         # kod bloğunun başına # konursa kod satırı etkisiz hale gelir

In [26]:
""" bu çok önemli
3 tırnak ile açıklama 
nasıl yazılır onu deniyoruz"""

print("merhaba")

merhaba

In [ ]:
# variables

In [27]:
x=555
y="merhaba"
print(x)
print(y)

555
merhaba

In [ ]:
# variables case sensitive 

# değişkenlerde buyuk kucuk harf duyarlılığı

In [28]:
A=555
a="merhaba"
print(x)
print(y)

555
merhaba

In [ ]:
# variable names

In [ ]:
"""
myvar="john"
my_var="john"
_my_var="john"
myVar="john"
MYVAR="john"
myvar2="john"

değişkenlere bu şekilde isim verilebilir
"""

In [ ]:
"""
2myvar="john"
my-var-="john"
my var="john"

değişkenlere bu şekilde isim verilmez
"""

In [ ]:
# many values to multiple variables

In [29]:
x,y,z="apple","banana","cherry"
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
# unpack a collection

In [30]:
fruits=["apple","banana","cherry"]
x,y,z=fruits
print(x)
print(y)
print(z)

apple
banana
cherry

# python_basic_02 videosu

In [ ]:
# sequential steps   

# kod satırları yukardan aşağıya sırasıyla çalışsır

In [36]:
x=2
print(x)
x=x+2
print(x)

2
4

In [ ]:
# conditional steps   

# kod satırları şarta bağlı olarak çalışır

In [37]:
x=5
if x<10:
    print("smaller")
    
if x>20:
    print("bigger")
    
print("finish")

smaller
finish

In [ ]:
# repeated steps

# bir koşula bağlı olarak tekrar eden döngüsel bir şekilde çalışır

In [38]:
n=5
while n>0:
    print(n)
    n=n-1
    
print("blastoff!")

5
4
3
2
1
blastoff!

In [ ]:
# resorved words

In [ ]:
"""
false, class, return, is, finally, None, if, for, lambda, continue,
True, def, from, while, nonlocal, and, del, global, not, with, 
as, elif, try, or, yield, assert, import, pass, break, in, raise, except
"""

In [ ]:
# sentences or lines

In [ ]:
"""
x=2          assignment statement
x=x+2        assignment with expression
print(x)     print statement
"""

In [ ]:
# clean code

# PEP 8- Python Coding Style   ( bir dokumantasyondur. temiz anlaşılır basit okunabilir kod yazmak için belirlenmiş kurallar )

python data types

In [ ]:
# text type : string

    # immutable özelliktedir

In [1]:
x= "hello everyone"

In [2]:
x

'hello everyone'

In [3]:
print(type(x))

<class 'str'>

In [ ]:
# numeric types

    # integer(int) : tam sayılar
    # float        : ondalıklı sayılar, virgulden sonra değeri olan sayılar
    # complex      : 
    
    # immutable özelliktedirler

In [4]:
x= 25
y= 25.6
z= 1j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [6]:
int(y)               # type dönüşümü, y variable ı int type yapılıyor

25

In [5]:
float(x)             # type dönüşümü, x variable ı float type yapılıyor

25.0

In [ ]:
# sequence types 

    # list : [] içerisinde yazılır. list tipindeki bir data içerisinde list, tuple, dictionary yada string gibi farklı tiplerde 
    #        eleman barındırabilir. mutable özelliktedir        
    
    # tuple : () içerisinde yazılır. tuple tipindeki bir data içerisinde list, tuple, dictionary yada string gibi farklı tiplerde 
    #        eleman barındırabilir. immutable özelliktedir

In [7]:
x= ["apple", "banana", "cherry"]
y= ("apple", "banana", "cherry")
print(type(x))
print(type(y))

<class 'list'>
<class 'tuple'>

In [ ]:
# map type : dictionary (dict)

    # {} içeriisnde yazılırlar. key ve value değerleri olur. mutable özelliktedir

In [8]:
x= {"name": "john", "age": 30}
print(type(x))

<class 'dict'>

In [ ]:
# set type : set

    # {} içerisnde yazılırlar. mutable özelliktedir, matematikteki kümeler mantığında çalışır. 
    # duplicate olmaz benzer elemanlardan birkac tane içermez.değişken tanımlanırken birkaç defa yazılabilir fakat sonuc olarak
    # duplicate içermeyen sonuc döndürülür

In [ ]:
x= {"apple", "banana", "cherry"}
print(type(x))

In [10]:
x1= {"apple", "banana", "cherry", "apple", "banana", "cherry", "apple", "banana", "cherry"}

In [11]:
x1

{'apple', 'banana', 'cherry'}

In [12]:
bos_set= set()                      # boş bir set türünde değişken tanımlamak istersek set() şeklinde tanımlarız. normalde 
                                    # set ler {} ile yazılır buna dikkat

In [13]:
bos_set

set()

In [ ]:
# boolean type : bool

    # True/False değerlerinin atandığı deişkenlerden oluşan veri tipleri. immutable özelliktedir.

In [9]:
x=True
print(type(x))

<class 'bool'>

mutable / immutable data types

In [ ]:
"""

    bir datanın içerisinde yer alan elaman değiştirilebiliyorsa mutable dır. değiştirilemiyorsa immutable dır
    
    
immutable                         mutable

-string                           -list
-tuple                            -dictionary
-frozenset                        -set
-boolean
-number
  -integer
  -float
  -long integer
  -complex